<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Pictures Page</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>
    <h1>Hello this is the clinical Developers!</h1>
    {{ insert_me }}
    <h1>Welcome to the pictures selection</h1>
    <img src="{% static "images/ai.jpg" %}" alt="Uh Oh where has he gone!">
    <img src="{% static "images/Darth.jpg" %}" alt="Uh Oh where has he gone!">
    <img src="{% static "images/Django.jpg" %}" alt="Uh Oh where has he gone!">
    <img src="{% static "images/moneybags.jpg" %}" alt="Uh Oh where has he gone!">
    <img src="{% static "images/chemistry.png" %}" alt="Uh Oh where has he gone!">
    
    <ul>
      <li> Yo
      <li> YO YO YO YO YO MR Banjo
  </body>
</html>
